<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="src/css/style.css">
    <link rel="stylesheet" href="src/css/scrollbar.css">
    <link rel="stylesheet" href="src/css/reset.css">
    <title>Adicionar Cards</title>
</head>
<body>
    <main>
        <div class="container">
            <div class="wraper">
                <h3>Adicionar Personagem</h3>
                <div class="box-container">
                    <div class="box-wraper">
                        <div class="input-class">
                            <input placeholder="Nome" type="text" id="nome">
                        </div>
                        <div class="input-class">
                            <input placeholder="Link da imagem" type="text" id="imagem-link">
                        </div>
                        <div class="input-class">
                            <input placeholder="Habilidade" type="text" id="habilidade">
                        </div>
                        <div class="input-class">
                            <input placeholder="Descrição" type="text" id="descricao">
                        </div>
                        <input type="button" value="Salvar" class="botao-salvar">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>